@if (openItems | async; as items) {
  <h4 class="title">Open</h4>

  @for (item of openItems | async; track $index) {
    <app-card [item]="item" icon="edit" (onClick)="openEditMenu(item)"></app-card>
  } @empty {
    <p class="label">No items open</p>
  }

  <mat-divider></mat-divider>

  <div class="title-container">
    <h4 class="title">Closed</h4>
    @if ((closedItems | async)?.length! > 0) {
      <button mat-icon-button color="warn" matTooltip="Remove all closed" (click)="deleteClosed()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    }
  </div>

  @for (item of closedItems | async; track $index) {
    <app-card [item]="item" icon="edit" (onClick)="openEditMenu(item)"></app-card>
  } @empty {
    <p class="label">No items closed</p>
  }
  <div class="final"></div>
}
