.error {
  min-width: 40vw;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.title {
  margin-left: 1rem;
}

.label {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.final {
  height: 5rem;
}
