<div [formGroup]="itemForm">
  <h3>{{ item ? "Editar" : "Afegir" }} compra</h3>
  <mat-form-field appearance="fill" class="input">
    <mat-label>Nom</mat-label>
    <input
      matInput
      matInputAutofocus
      formControlName="name"
      type="text"
      maxlength="100"
      placeholder="Nom"
      [matAutocomplete]="auto"
      required
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (item of filteredItems | async; track item) {
        <mat-option [value]="item">{{ item }}</mat-option>
      }
    </mat-autocomplete>
    <mat-hint align="end">
      {{ itemForm.get("name")?.value?.length }} / 100
    </mat-hint>
    @if (itemForm.get('name')?.hasError('required')) {
      <mat-error>El <b>nom</b> és obligatori</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="fill" class="input">
    <mat-label>Quantitat</mat-label>
    <input
      matInput
      formControlName="amount"
      type="number"
      min="1"
      max="100"
      placeholder="Quantitat"
      required
    />
    @if (itemForm.get('amount')?.hasError('required')) {
      <mat-error>La <b>quantitat</b> és obligatoria</mat-error>
    } @if (itemForm.get('amount')?.hasError('min')) {
      <mat-error>La <b>quantitat</b> ha de ser com a mínim 1</mat-error>
    } @if (itemForm.get('amount')?.hasError('max')) {
      <mat-error>La <b>quantitat</b> ha de ser menor de 100</mat-error>
    }
  </mat-form-field>

  @if (item) {
    <mat-checkbox class="checkbox" formControlName="open"> Per comprar </mat-checkbox>
  }
</div>

<div class="horizontal">
  <button
    mat-raised-button
    color="primary"
    [disabled]="itemForm.invalid"
    (click)="item ? updateItem() : addItem()"
  >
    {{ item ? "Guardar" : "Afegir" }}
  </button>
  @if (!item) {
    <mat-checkbox [(ngModel)]="addMore"> Afegir-ne més </mat-checkbox>
  }
</div>
