@if (openSearchBox) {
<p-inputgroup class="search-box">
  <input
    pInputText
    appAutofocus
    autofocus
    type="text"
    placeholder="Buscar"
    (blur)="closeSearch()"
    (input)="onSearchBoxChange($event)"
  />
  <p-inputgroup-addon>
    <p-button
      [text]="true"
      icon="pi pi-times"
      ariaLabel="Clear"
      (onClick)="closeSearch()"
    />
  </p-inputgroup-addon>
</p-inputgroup>

<p-button
  [text]="true"
  [rounded]="true"
  icon="pi pi-times"
  ariaLabel="Close"
  (onClick)="openSearchBox = false"
/>
} @else {
<p-button
  [text]="true"
  [rounded]="true"
  icon="pi pi-search"
  ariaLabel="Search"
  (onClick)="openSearchBox = true"
/>
}
