<div class="centered">
  <h1 class="title">Tot Fet</h1>
  <mat-form-field appearance="fill" class="input">
    <mat-label>Password</mat-label>
    <input
      matInput
      [formControl]="password"
      type="password"
      placeholder="Password"
      required
    />
    @if (password.hasError('required')) {
    <mat-error>Password is Required</mat-error>
    }
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="password.invalid" (click)="sendRequest()">
    Login
  </button>
</div>
