.add-button {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 1;
}

.icons-list {
  margin-left: 0.5rem;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 24px;
  margin: 0 1rem;
  background-color: rgba(255, 255, 255, 0.4);
}
