.add-button {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 1;
}

.icons-list {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-left: 0.25rem;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 24px;
  margin: 0 0.75rem;
  background-color: var(--p-content-border-color);
}
