<p class="title">TotFet</p>

@if (openSearchBox) {
  <mat-form-field class="search-box" appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput matInputAutofocus type="text" (input)="onSearchBoxChange($event)">
    <button matSuffix mat-icon-button aria-label="Clear" (click)="closeSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
} @else {
  <button class="search-button" matSuffix mat-icon-button aria-label="Clear" (click)="openSearchBox = true">
    <mat-icon>search</mat-icon>
  </button>
}

<mat-tab-group
  dynamicHeight
  [selectedIndex]="defaultSelectedIndex"
  (selectedTabChange)="onChangeTab($event)"
>
  <mat-tab label="Comprar">
    @if (itemsService.isLoading) {
      <mat-progress-bar class="top" mode="indeterminate"></mat-progress-bar>
    }
    <app-items-list></app-items-list>
  </mat-tab>
  <mat-tab label="Editar">
    @if (itemsService.isLoading) {
      <mat-progress-bar class="top" mode="indeterminate"></mat-progress-bar>
    }
    <app-items-edit-list></app-items-edit-list>
  </mat-tab>
</mat-tab-group>

<button mat-fab color="primary" class="add-button" (click)="openAddMenu()">
  <mat-icon>add</mat-icon>
</button>
